.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 

}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
}

.startButton {
    position: absolute;
    top: 64%;
    left: 50%;
    margin: -23px 0 0 -92px;
}

.play-link{
    position: absolute;
    top: 70%;
    left: 50%;
    margin: -12px 0 0 -101px;
}

.play-link *{
    width:200px;
}

.qrcode {
    width: 250px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.pageWrapper{
    margin-bottom: 16px;
    margin-top: 16px;
}

.pageTitle{
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-weight: 700 !important;
    font-size: 52px;
    color: white;
    text-shadow: -4px 6px black;
}

.centerBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
 }

 .centerImage{
    text-align: center;
 }

 .centerHeader {
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    font-family: 'Satisfy', cursive;
    color: white;
    text-shadow: -4px 6px black;
 }

.shrinkImage{
    width: 305px;
    border: none;
    height: 305px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.drop-zone{
    border: dotted 3px lightgray;
    height:25vh;
}
.nv-file-over{
    border: dotted 3px red;
}

.image-preview{
    width: 100%;
}

.QRPreview {
    padding: 30px;
    height: 525px;
    width: 308px;
    text-align: center;

}

.qr-preview-image {
    width: 250px;
}

/* Override <hr> default color */
hr {
    border-top: 1px solid lightgray;
}