<div class="pageWrapper">
    <div class="createPage row" ng-show="createState">
        <div class="col-md-4">
            <button type="button" ng-click="switchState()" class="btn btn-default">
                Done
            </button>
        </div>
        <div class="col-md-8">
            <p>
                Create State
            </p>
        </div>
    </div>
    
    <div class="createPage row" ng-show="contextState">
        <div class="col-md-4">
            <button type="button" ng-click="switchState()" class="btn btn-default">
                Done
            </button>
        </div>
        <div class="col-md-8">
            <p>
                Context State
            </p>
        </div>
    </div>
    
    <div class="createPage row" ng-show="contentState">
        <div class="col-md-4">
            <button type="button" ng-click="switchState()" class="btn btn-default">
                Done
            </button>
        </div>
        <div class="col-md-8">
            <p>
                Content State
            </p>
        </div>
    </div>
    
    <div class="createPage row" ng-show="adjustState">
        <div class="col-md-4">
            <button type="button" ng-click="switchState()" class="btn btn-default">
                Done
            </button>
        </div>
        <div class="col-md-8">
            <p>
                Adjust State
            </p>
        </div>
    </div>

    <div class="createPage row" ng-show="confirmState">
        <div class="col-md-4">
            <button type="button" ng-click="switchState()" class="btn btn-default">
                Print
            </button>
        </div>
        <div class="col-md-8">
            <p>
                Confirm State
            </p>
        </div>
    </div>
</div>