<div class="pageWrapper" ng-controller="MainCtrl">
    <div class="createPage row" ng-controller="createState" ng-show="createState">
        <div>
            <h1 class="centerHeader"> Augmented Reality Tagging System </h1>
            <img class="centerBlock" src="/images/logo.png">
        </div>
        <div class="row text-center">
            <button type="button" ng-click="switchState()" class="btn btn-success">
                Create Tag
            </button>
        </div>
    </div>

    <div class="createPage row" ng-controller="contextState" ng-show="contextState" >
        <div class="col-md-4">
            <button type="button" ng-click="switchState()" class="btn btn-default">
                Done
            </button>
        </div>
        <div class="col-md-8">
            <p>
                {{test}}
            </p>
        </div>
    </div>

    <div class="createPage row" ng-controller="contentState" ng-show="contentState" nv-file-drop="" uploader="uploader">
        <div class="pageTitle row">
            <h1>
                Upload Your Content <span class="glyphicon glyphicon-sunglasses"></span>
            <h1>
        </div>

        <div class="row">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" ng-click="switchSelected()" ng-disabled="imageSelected">
                        Image <span class="glyphicon glyphicon-picture"></span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" ng-click="switchSelected()" ng-disabled="textSelected">
                        Text <span class="glyphicon glyphicon-send"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="contentDZ well row" ng-show="imageSelected">
            <div ng-show="uploader.isHTML5 && !imageUploaded" class="well drop-zone" nv-file-over="" uploader="uploader">
                <h3 style="text-align: center;">
                    Drag and drop file here
                </h3>
            </div>
            <div ng-show="!uploader.isHTML5 && !imageUploaded">
                <h3>Select file from your computer</h3>
                <input type="file" nv-file-select="" uploader="uploader" />
            </div>
            <div class="col-md-2" ng-show="imageUploaded">
            </div>
            <div id="imagePreview" class="col-md-8" ng-show="imageUploaded">
            </div>
            <div class="col-md-2" ng-show="imageUploaded">
            </div>
            <hr>
            <div class="pull-left" ng-init="contentSize=2">
                <div>
                    <h4>
                        <b>Augmented Image Size:</b>
                    </h4>
                </div>
                <div class="checkbox-inline">
                    <label><input type="radio" ng-model="contentSize" value="1">Small</label>
                </div>
                <div class="checkbox-inline">
                    <label><input type="radio" ng-model="contentSize" value="2">Medium</label>
                </div>
                <div class="checkbox-inline disabled">
                    <label><input type="radio" ng-model="contentSize" value="4">Large</label>
                </div>
            </div>
        </div>

        <div class="contentDZ jumbotron row" ng-show="textSelected">
            <div class="form-group">
                <label for="inputlg">Text Content</label>
                <textarea ng-model="textValue" ng-blur="setText(textValue)" class="form-control input-lg" name="inputlg" col="2" rows="3"></textarea>
            </div>
            <hr>
            <div class="pull-left">
                <div>
                    <h4>
                        <b>Augmented Text Size:</b>
                    </h4>
                </div>
                <div class="checkbox-inline" ng-init="contentSize=2">
                    <label><input type="radio" ng-model="contentSize" value="1">Small</label>
                </div>
                <div class="checkbox-inline">
                    <label><input type="radio" ng-model="contentSize" value="2">Medium</label>
                </div>
                <div class="checkbox-inline disabled">
                    <label><input type="radio" ng-model="contentSize" value="4">Large</label>
                </div>
            </div>
        </div>

        <div class="nextButton row">
            <button type="button" class="btn btn-success pull-right" ng-click="switchState(); resetValues()" 
            ng-disabled="(textSelected && !textValue)||(imageSelected && !imageUploaded)">
                Finish <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>

    <div class="createPage row" ng-controller="adjustState" ng-show="adjustState">
        <div class="col-md-4">
            <button type="button" ng-click="switchState()" class="btn btn-default">
                Done
            </button>
        </div>
        <div class="col-md-8">
            <p>
                {{test}}
            </p>
        </div>
    </div>

    <div class="createPage row" ng-controller="confirmState" ng-show="confirmState">
        <div class="pageTitle row">
            <h1>
                Download Your Tag <span class="glyphicon glyphicon-flash"></span>
            <h1>
        </div>

        <div class="jumbotron row">
            <div class="contentPreview col-md-8">
                <div ng-show='contentType == "text"'>
                    <div class="form-group">
                        <label for="inputlg">Text Content</label>
                        <input ng-model="contentData" ng-disabled="true" class="form-control input-lg" id="inputlg" type="text">
                        <canvas id='textCanvas' ng-hide="true"></canvas>
                        <img id='image'>
                    </div>
                </div>
                <div id="imageFinal" ng-show='contentType == "image"'>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                </div>
                <div class="QRPreview row">
                    <img class="centerBlock loader"src="/images/loader.gif" ng-show="loading">
                    <qrcode version="2" error-correction-level="M" size="300" data="{{key}}" ng-show="false" download></qrcode>
                    <div id="anchorTagLink">
                    </div>
                    <h4>Click Tag to Download <span class="glyphicon glyphicon-download"></span></h4>
                </div>
            </div>
        </div>

        <div class="nextButton row">
            <button type="button" class="btn btn-default pull-right" ng-click="restartFlow()" ng-disabled="">
                Create Another <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
</div>
