<div class="pageWrapper" ng-controller="MainCtrl">
    <div class="createPage row" ng-controller="createState" ng-show="createState">
        <div class="col-md-4">
            <button type="button" ng-click="switchState()" class="btn btn-default">
                Done
            </button>
        </div>
        <div class="col-md-8">
            <p>
                {{test}}
            </p>
        </div>
    </div>
    
    <div class="createPage row" ng-controller="contextState" ng-show="contextState" >
        <div class="col-md-4">
            <button type="button" ng-click="switchState()" class="btn btn-default">
                Done
            </button>
        </div>
        <div class="col-md-8">
            <p>
                {{test}}
            </p>
        </div>
    </div>
    
    <div class="createPage row" ng-controller="contentState" ng-show="contentState">
        <div class="col-md-4">
            <button type="button" ng-click="switchState()" class="btn btn-default">
                Done
            </button>
        </div>
        <div class="col-md-8">
            <p>
                {{test}}
            </p>
        </div>
    </div>
    
    <div class="createPage row" ng-controller="adjustState" ng-show="adjustState">
        <div class="col-md-4">
            <button type="button" ng-click="switchState()" class="btn btn-default">
                Done
            </button>
        </div>
        <div class="col-md-8">
            <p>
                {{test}}
            </p>
        </div>
    </div>

    <div class="createPage row" ng-controller="confirmState" ng-show="confirmState">
        <div class="col-md-4">
            <button type="button" ng-click="switchState()" class="btn btn-default">
                Print
            </button>
        </div>
        <div class="col-md-8">
            <p>
                {{test}}
            </p>
        </div>
    </div>
</div>
